:global .fade-enter-active,
:global .fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

:global .fade-enter,
:global .fade-leave-to {
  opacity: 0;
}

:global .slide-fade-enter-active,
:global .slide-fade-leave-active {
  transition-property: opacity, transform;
  transition-duration: 0.5s, 0.6s;
  transition-timing-function: ease-in-out, ease-out;
}

:global .slide-fade-enter-active {
  transition-delay: 0.5s, 0.5s;
}

:global .slide-fade-enter,
:global .slide-fade-leave-to {
  opacity: 0;
}

:global .slide-fade-enter {
  transform: translateX(-20px);
}

:global .slide-fade-leave-to {
  transform: translateX(30px);
}
